<p><%= f.label :email %></p>
<p><%= f.text_field :email %></p>
 
<% if can? :read, Role %>
	<p><%= f.label :role %></p>
	<ul class="no-pad no-bullets">
	<% Role.all.each do |role| %>
		<%= role.name %> <%= check_box_tag "user[role_ids][]", role.id, @user.role_ids.include?(role.id) %>
   	<% end %> 
	</ul>
<% end %>
