<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Stateli Personal Finance</title>
  
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/reset-fonts-grids/reset-fonts-grids.css" />
  <link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.1/build/base/base-min.css" />
  <%= stylesheet_link_tag 'scaffold' %>
  <link type="text/css" rel="stylesheet" media="screen" href="/javascripts/dataTables-1.6/media/css/demo_page.css" />
  <link type="text/css" rel="stylesheet" media="screen" href="/javascripts/dataTables-1.6/media/css/demo_table.css" />
  <link type="text/css" href="/javascripts/development-bundle/themes/trontastic/jquery.ui.all.css" rel="stylesheet" />
  
  <%= stylesheet_link_tag 'bank' %>
  
  <% if protect_against_forgery? %>
  	<script type='text/javascript'>
  	//<![CDATA[
	        window._auth_token_name = "#{request_forgery_protection_token}";
	        window._auth_token = "#{form_authenticity_token}";
    //]]>
	</script>
<% end %>
  <%= javascript_include_tag 'application.js' %>

</head>
<body>

<div id="main_div">
	<div id="welcome_div">
<% unless current_user.nil? %>
		<div class="welcome_message">
			Welcome <%= current_user.email %>
		</div>
<% end %>
		<div id="hd">
<% if current_user.nil? %>
	 		<div id="new_session_login">
				<%= link_to('Login', new_user_session_path)  %>	
			</div>
			<div>	
				<%= link_to('Register', new_user_registration_path)  %>
			</div>
			<div style="clear: both;"><!-- clearing div --></div>
					
<% else %>
			<div id="logout_div">
				<%= link_to "Log Out", destroy_user_session_path %>
			</div>
<% end %>
		</div><!-- login_form_div -->
	</div><!-- welcome_div -->

	<div id="hd" class="header">
		Stateli Personal Finance
	</div>
	<div id="bd">
		<div id="menu">
<%	unless current_user.nil? %>
			<div class="menu_button">
				Accounts 
				[<%= link_to 'New', new_account_path, {:class => 'menu_link', :title => 'New Account'} %>]
			</div>
<%		Account.user_only(current_user.id).each do |account| %>
		 		<div id="account_title_div_<%= account.id %>" class="submenu_button" onclick="click_navigation('<%= month_pocket_totals_path(account) %>',<%= current_user.nil? %>)"><%= h account.name %></div>
		 		<div id="account_options_div_<%= account.id %>" class="account_options_div">
			 		<div id="menu_upload_<%= account.id %>" class="sub_submenu_button" onclick="click_navigation('<%= account_show_upload_path(account.id) %>',<%= current_user.nil? %>)">Upload CSV</div>		
				
					<div id="menu_journal_<%= account.id %>" class="sub_submenu_button" onclick="click_navigation('<%= account_journal_path(account.id) %>',<%= current_user.nil? %>)">Journal</div>
					<div id="menu_delete_log_<%= account.id %>" class="sub_submenu_button" onclick="click_navigation('<%= account_delete_log_path(account.id) %>',<%= current_user.nil? %>)">Delete Log</div>
					<div id="menu_pocket_totals_<%= account.id %>" class="sub_submenu_button" onclick="click_navigation('<%= month_pocket_totals_path(account.id) %>',<%= current_user.nil? %>)">Pocket Totals</div>
					
					<div id="menu_rules_<%= account.id %>" class="sub_submenu_button" onclick="click_navigation('<%= account_rules_path(account) %>',<%= current_user.nil? %>)">Show Rules</div>
					<div class="sub_submenu_button" onclick="click_navigation('<%= account_apply_rules_path(account.id) %>',<%= current_user.nil? %>)">Apply Rules</div>
					<div id="menu_new_rule_<%= account.id %>" class="sub_submenu_button" onclick="click_navigation('<%= new_account_rule_path(account.id) %>',<%= current_user.nil? %>)">Add Rule</div>
				</div>
				
<%		end %>
				
				<div class="menu_button">
					Pockets
					[<%= link_to 'List', pockets_path, {:class => 'menu_link', :title => 'Pockets'} %>]
					[<%= link_to 'New', new_pocket_path, :remote => true %>]
				</div>
<% 	else %>
				<div>
					<div class="instructions">
						If you already have an account, sign in to manage and track accounts and transactions.
					</div>
					<div class="instructions">
						If you don't already have an account, <%= link_to 'sign up', new_user_registration_path, :class => 'listing_link' %> and start managing your banking and credit accounts.
					</div>
				</div>
<%	end %>				
			</div>
	        <div id="content_div"> 
				<div id="flashdiv"><%= flash[:notice] %></div>
				<div id="template_div">
					<%= yield %>
				</div>
			</div>
	</div>

</div>

<div id="edit_transaction_dialog" title="Edit Transaction" style="display:none;"></div>
<div id="edit_pocket_dialog" title="Edit Pocket" style="display:none;"></div>

</body>

<script type="text/javascript">
  	$(document).ready(function() {
		$('.menu_button').mouseover(function(){
			$(this).addClass('menu_mouseover');
		});
		$('.submenu_button').mouseover(function(){
			$(this).addClass('submenu_mouseover');
		});
		$('.sub_submenu_button').mouseover(function(){
			$(this).addClass('submenu_mouseover');
		});
		$('.menu_button').mouseout(function(){
			$(this).removeClass('menu_mouseover');
		});
		$('.submenu_button').mouseout(function(){
			$(this).removeClass('submenu_mouseover');
		});
		$('.sub_submenu_button').mouseout(function(){
			$(this).removeClass('submenu_mouseover');
		});
		$('.button').mouseover(function(){
			$(this).addClass('button_mouseover');
		});
		$('.button').mouseout(function(){
			$(this).removeClass('button_mouseover');
		});
		$('.account_options_div').hide();
	<%	unless @account.nil? %>
		$('#account_options_div_<%= @account.id %>').show();
		$('#account_title_div_<%= @account.id %>').addClass('account_selected');
	<%	end %>
  	} );
</script>

</html>


